/* Header */
.navbar-brand{
    padding: 0;
}
.navbar-brand img {
    width: 96px;
}
.brand-wrapper .header-banner,
.navbar-brand img {
    height: 96px;
    max-height: 96px;
}
.brand-wrapper .header-banner{
    float: right;
    width: calc( 100% - 160px);
}

/* Side Menu */
.global-side-content .static-link-list{
    margin-bottom: 0;
}

ul.global-side-menu-list{
    padding: 0;
}
ul.global-side-menu-list,
ul.global-side-menu-list ul{
    width: 100%;
    list-style: none;
}
ul.global-side-menu-list ul{
    display: none;
}
ul.global-side-menu-list li.active > ul{
    display: block;
}
ul.global-side-menu-list > li > ul{
    padding-left: 0
}
ul.global-side-menu-list > li > ul > li > ul{
    padding-left: 15px
}
ul.global-side-menu-list > li > ul > li > ul {
    padding-top: 10px;
    padding-bottom: 10px;
}
ul.global-side-menu-list > li > ul > li > ul li{
    min-height: 30px;
}
ul.global-side-menu-list > li.ddown > ul > li > ul > li .nav-direction{
    font-size: 1.8rem;
    line-height: 30px;
    text-align: left;
}
ul.global-side-menu-list > li > ul > li > ul > li > ul{
    padding-left: 15px
}

/* First level */
ul.global-side-menu-list > li{
    background-color: #cdcdcd;
    margin-bottom: 5px;
}
ul.global-side-menu-list > li > a{
    font-weight: 600;
}
ul.global-side-menu-list > li ul{
    background-color: #fff;
}
ul.global-side-menu-list > li.active,
ul.global-side-menu-list > li:hover{
    background-color: #b50f25;
}
ul.global-side-menu-list > li.active > a,
ul.global-side-menu-list > li:hover > a,
ul.global-side-menu-list > li > a:hover{
    color: #fff !important;
}

/* Second level */
ul.global-side-menu-list > li > ul > li{
    background-color: #e5e4e4;
    margin-top: 5px;
}

ul.global-side-menu-list li{
    width: 100%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
    min-height: 38px;
    align-items: center;
}
ul.global-side-menu-list li a{
    display: block;
    color: #393939;
}
ul.global-side-menu-list li.active > a,
ul.global-side-menu-list li a:hover{
    color: #b50f25;
}
ul.global-side-menu-list li:not(.ddown) > a{
    display: inline-block;
    padding: 0 12px;
    flex: 1 0 100%;
    line-height: 20px;
}
ul.global-side-menu-list li.ddown > a {
    display: inline-block;
    padding-left: 12px;
    flex: 1 0 80%;
    line-height: 20px;
}
ul.global-side-menu-list li.ddown > .nav-direction{
    padding-right: 12px;
    font-size: 2.2rem;
    flex: 1 0 20%;
    text-align: right;
    line-height: 38px;
}
/* Side Menu End */

@media (min-width: 768px){
    .wrapper-main .global-side-content > nav.container-max {
        padding-left: 0;
        padding-right: 0;
        z-index: 1000;
        display: block;
        width: 100%;
        max-width: 100%;
        background: #efefef;
        margin-top: 1.5rem !important;
    }
}

@media (min-width: 992px){
    .brand-wrapper {
        position: relative;
        top: unset;
        transform: unset;
        z-index: 10;
    }
}